/* @tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Epilogue&display=swap');

@font-face {
  font-family: 'Epilogue';
  src: 'url(https://fonts.googleapis.com/css2?family=Epilogue&display=swap)';
  font-weight: 500;
  font-size: 18px;
}

@layer-base {
  html {
    font-family: 'Epilogue', sans-serif, system-ui;
  }
} */

#header{
    display: relative;
}

nav {
    display: flex;
    flex-direction: column;
    padding: 2em 5%;
}
#logo{
    justify-content: space-between;
    /* display: inline-block; */

}
#menu-btn{
    float: right;
}
#menu{
    display: none;
}

#main{
    display: relative;
}
#body{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
#textCTA h1{
    /* text-align: center; */
    font-size: 3em;
    margin: 0;
}
#textCTA p{
    font-size: 18px;
}
#textCTA button{
    padding: 1em;
    color: white;
    background-color: black;
    border: 1px solid blue 50%;
}